*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,sans-serif;
    background: url(bg3.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-container {
    flex: 0.3;
}
.logo{
    width: 130px;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 100px;
}

.logo:hover{
    cursor: pointer;
}

nav {
    display: flex;
    height: 100px;
    flex-direction: row;
}

.nav-items-container {
    flex: 0.8;
    width: 100%;
    flex-direction: row;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}
    
nav li {
    float: left;
    margin-right: 60px;
    position: relative;
    list-style: none;
    font-family: 'Dongle', sans-serif;
}
nav a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 30px;
    font-weight: 900;
    transition: all ease-in-out 0.3s;
}

.sign{
    position: relative;
    background-color: #0dd26a;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    margin-left: 100px;
    font-family: 'Dongle', sans-serif;
}

.log{
    position: relative;
    background-color: #0dd26a;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 30px;
    border: none;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    margin-left: 30px;
    margin-top: -40px;
    font-family: 'Dongle', sans-serif;

}

.buttons{
    width: 40%;
    margin-top: 30px;
}

.log:hover, .log:focus{
    opacity: 0.9;
    transform: translateY(-0.25em);
    color: white;
    
}

.sign:hover, .sign:focus{
    opacity: 0.9;
    transform: translateY(-0.25em);
    color: white;
}

.article{
    width: max-content;
    text-align: center;
    position: relative;
    margin-left: 350px;
    margin-top: 200px;
}

h1{
    color: white;
    font-size: 50px;
}

.middle{
    position:absolute;
    width:100%;
    height: 50%;
    background: url(https://assets-global.website-files.com/5a5d245aa0eb5000019db849/5ca244ede4231d457a0e1eb7_company-divider1.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: 50px;
}

.support{
    color: white;
    line-height: 20px;
}

.btnMore{
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: #0dd26a;
    border: none;
    color: white;
    margin-left: 650px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.btnMore:hover{
    transform: translateY(-0.25em);
    transition: all ease-in-out 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.article2{
    width: max-content;
    position: absolute;
    margin-top: 260px;
    margin-left: 500px;
}

h2{
    color: #355c5f;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
}

.empower{
    line-height: 22px;
    color:rgb(39, 39, 39);
    text-align: center;
}

.lien{
    position: absolute;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: #17999f;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 410px;
    margin-left: 550px;
}

.firm{
    position: absolute;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    background-color: #568286;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 410px;
    margin-left: 750px;
}

.lien:hover{
    transform: translateY(-0.25em);
    transition: all ease-in-out 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.firm:hover{
    transform: translateY(-0.25em);
    transition: all ease-in-out 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bottom{
    position: absolute;
    margin-top: 800px;
    width: max-content;
    margin-left: 430px;
}

h3{
    text-align: center;
    color: #568286;
    text-transform: uppercase;
    font-size: 12px;
}

.jobs{
    text-align: center;
    color:rgb(39, 39, 39); ;
}

.meet{
    position: relative;
    margin-left: 210px;
    width: 180px;
    height: 50px;
}

.career-div{
    position: absolute;
    margin-top: 1190px;
    margin-left: 580px;
    width: max-content;
}

h4{
    color: #355c5f;
    text-align: center;
    text-transform: uppercase;
}

.build{
    text-align: center;
}

.openings{
    position: relative;
    margin-left: 50px;
    width: 200px;
}

.people{
    position: absolute;
    width: 50%;
    margin-top: 1350px;
    margin-left: 350px;
}

label{
    display: none;
}
#toggle{
    display: none;
}


@media screen and (max-width: 767px){
    body{
        overflow-x: hidden;
    }
    .nav-items-container{ 
        margin-top: 6%;
        margin-left: 40%;
       display: block; 
    }
   label{
       display: inline-block;
       margin-left: 200px;
       cursor: pointer;
       color: #23CA66;
       font-size: 30px;
   }
    .sign{
        display: none;
    }
    .log{
     display: none;
    }
   .logo{
       position: absolute;
       margin-left:20px;
       margin-top: 10px;
   }
   h1{
       font-size: 35px;
       margin-top: -160px;
       margin-left: -230px;
   }
   .btn{
       margin-left: 20px;
   }
   .pic{
       margin-left:50px;
       margin-top:280px;
       width: 80%;
   }
   .menu{
       text-align: center;
       width: 100%;
       display: none;
   }
 
   .menu a{
       display: block;
   }
   .buttons{
       display: none;
   }
   @keyframes down {
    from {top:0px;}
    to {top:70px;}
   }

    #toggle:checked +.menu{
           display: block;
           ul{
            position: fixed;
            width: 100%;
            height:400px;
            background-color:#6d706e;
            left: 0;
            top: 70px;
            animation-name: down;
            animation-duration: 1s; 
            z-index: 100;
          }
          li a{
              line-height: 100px;
              margin-left: 200px;
              color: white;
              
          }    
          li a::before{
              position: absolute;
              content: '';
              left: 100;
              bottom: 20px;
              height: 3px;
              width: 20%;
              background-color: white;
              transform: scaleX(0);
              transform-origin: right;
          }
          li a:hover:before{
              transform: scaleX(1);
              transform-origin: left;
              transition: all ease-in-out 0.3s;
          }
       }

    .support{
        font-size: 14px;
        width:900%;
        position: absolute;
        margin-left: -270px;
    }

    .middle{
        margin-top: -10px;
    }
    .btnMore{
        width:30%;
        margin-left: 180px;
        margin-top: 120px;
    }
    .article2{
        margin-left: 10px;
        margin-top: 400px;
    }
    h2{
        margin-left: -70px;
    }
    .empower{
        width:50%;
        margin-left: 100px;
    }
    .lien{
        position: absolute;
        margin-left: 130px;
        margin-top: 700px;
        width: 50%;
    }
    .firm{
        width: 50%;
        margin-left: 130px;
        margin-top: 780px;
    }
    .article3{
        margin-left: -400px;
        margin-top: 160px;
    }
    .jobs{
        width: 50%;
        margin-left: 50px;
    }
    h3{
        margin-left: -250px;
    }
    .meet{
        margin-left:-260px;
        margin-top: 50px;
        width: 60%;
    }
    .career-div{
        margin-left: 100px;
        margin-top: 1400px;
    }
    .people{
        width: 70%;
        margin-top: 1600px;
        margin-left: 80px;
    }
    .openings{
        width: 70%;
        margin-left: 40px;
        margin-top:50px;

    }
}